:root {
  --main: #064e3b;
  --accent: #10b981;
  --accent2: #6ee7b7;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

.app {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 225px 1fr;
}

header {
  grid-column: 1 / 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
}

.nav-item,
.nav-item li {
  list-style-type: none;
}

.home-icon {
  position: relative;
  display: inline-block;
  background-image: url(./assets/home.png);
  width: 18px;
  height: 18px;
  background-size: cover;
}

.main-nav {
  background-color: var(--main);
  width: 65%;
  border-radius: 50px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.nav-item {
  position: relative;
  display: inline-block;
  margin-right: 35px;
  padding: 18px;
}

.nav-item:hover {
  cursor: pointer;
  background-color: var(--accent);
}

.main-nav .nav-item:last-child {
  margin-right: 0;
}

.dropdown-content::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 20px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid var(--accent);
}

.dropdown-content li {
  padding: 5px;
}

.dropdown-content li:hover {
  color: var(--main);
}

.shopping-drop .inner-dropdown {
  display: flex;
  justify-content: center;
}

.shopping-drop li {
  margin-right: 10px;
}

.dropdown-content {
  visibility: hidden;
  position: absolute;
  left: -25px;
  top: 100%;
  z-index: 1000;
  border: 25px solid transparent;
}

.inner-dropdown {
  background-color: var(--accent);
  padding: 10px;
  width: 250px;
  border-radius: 8px;
}

.reveal {
  visibility: visible;
}
